target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
major-populate/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
major-populate/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
major-populate/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
major-populate/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
*.class
*.class
major-populate/target/classes/application.properties
major-populate/src/main/resources/application.properties
major-populate/target/classes/application.properties
