<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="form-stylesheet.css">
    <title>Document</title>
</head>    
<body>
  <div class="topnav">
  </div>   
  <div class="container">
    <h2>Major Portal</h2>
    <form method="post" th:object="${majorInfo}" th:action="@{/submitMajor}">
        <input type="text" th:field="*{name}" placeholder="Name">
        <select class="select" th:field="*{majorName}">
            <option value="">Choose a Major</option>
            <option th:each="major : ${majorChoices}" th:text="${major}" th:value="${major}"></option>
        </select>
        <input type="submit" value="Submit">
    </form>
      <a style="color: white;" th:href="@{/register}">Register</a>
  </div>
</body>
</html>
