
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Main Page</title>
<link rel="icon" href="https://www.linkpicture.com/q/ttclogowhite.png">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700,900" rel="stylesheet"><body class="home-page">
<link rel="stylesheet" type="text/css" href="homepage.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="js/app.js"></script>
<script async
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMIlmz6zsPG_7aZF0iP_YGHzxOOMnE0Q0&callback=initMap">
</script>
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMIlmz6zsPG_7aZF0iP_YGHzxOOMnE0Q0&callback=initMap"></script>
<script src="homepage.js"></script>
  <!--  Navigation  -->
  <section class="sectionNav">
    <div id="nav_bar">
      <div class="logo" rel="index"><img src="https://www.linkpicture.com/q/ttclogowhite.png" alt="school logo"></div>
      <nav class="navbar-fixed-top">
        <ul class="nav nav-pills nav-stacked">
          <li class="page-scroll">
            <a rel="index"     href="#" class="home-page-link"><i class="fa fa-home"></i></a>
          </li>
          <li class="page-scroll">
            <a rel="skills"    href="#about" class="about-me-link"><i class="fa fa-user"></i></a>
          </li>
          <li class="page-scroll">
            <a rel="Navigate" href="#navigate" class="navigate-link"><i class="fa fa-users"></i></a>
          </li>
          <li class="page-scroll">
            <a rel="contact"     href="#contact" class="contact-link"><i class="fa fa-envelope-o"></i></a>
          </li>
        </ul>
      </nav>
    </div>
  </section>
  <div class="wrap">
    <!-- Header -->
    <header>
      <div id="fullscreen-hero" class="home-hero">
        <div class="hero-container">
          <div class="hero-content"><a href="#" class="home-logo"></a>
            <h1 aria-label=" Welcome to Trident Tech." class="blast-root">
              <span class="blast" aria-hidden="true" style="opacity: 1;">W</span>
              <span class="blast" aria-hidden="true" style="opacity: 1;">e</span>
              <span class="blast" aria-hidden="true" style="opacity: 1;">l</span>
              <span class="blast" aria-hidden="true" style="opacity: 1;">c</span>
              <span class="blast" aria-hidden="true" style="opacity: 1;">o</span>
              <span class="blast" aria-hidden="true" style="opacity: 1;">m</span>
              <span class="blast" aria-hidden="true" style="opacity: 1;">e</span>
              <span class="blast" aria-hidden="true" style="opacity: 1;"></span>
              <span class="blast" aria-hidden="true" style="opacity: 1;">T</span>
              <span class="blast" aria-hidden="true" style="opacity: 1;">o</span><br>
              <span class="blast" aria-hidden="true" style="opacity: 1;"></span>
              <span class="blast" aria-hidden="true" style="opacity: 1;"></span>
              <span class="blast" aria-hidden="true" style="opacity: 1;"></span>
              <span class="blast" aria-hidden="true" style="opacity: 1;"></span>
              <span class="blast" aria-hidden="true" style="opacity: 1;"></span>
              <span class="blast" aria-hidden="true" style="opacity: 1;"></span>
              <span class="blast" aria-hidden="true" style="opacity: 1;">T</span>
              <span class="blast" aria-hidden="true" style="opacity: 1;">r</span>
              <span class="blast" aria-hidden="true" style="opacity: 1;">i</span>
              <span class="blast" aria-hidden="true" style="opacity: 1;">d</span>
              <span class="blast" aria-hidden="true" style="opacity: 1;">e</span>
              <span class="blast" aria-hidden="true" style="opacity: 1;">n</span>
              <span class="blast" aria-hidden="true" style="opacity: 1;">t</span>
              <span class="blast" aria-hidden="true" style="opacity: 1;"></span>
              <span class="blast" aria-hidden="true" style="opacity: 1;">T</span>
              <span class="blast" aria-hidden="true" style="opacity: 1;">e</span>
              <span class="blast" aria-hidden="true" style="opacity: 1;">c</span>
              <span class="blast" aria-hidden="true" style="opacity: 1;">h</span>
              <span class="blast" aria-hidden="true" style="opacity: 1;"></span>
              <span class="blast" aria-hidden="true" style="opacity: 1;"></span>
              <span class="blast" aria-hidden="true" style="opacity: 1;"></span>
              <span class="blast" aria-hidden="true" style="opacity: 1;"></span>
              <span class="blast" aria-hidden="true" style="opacity: 1;"></span>
              <span class="blast" aria-hidden="true" style="opacity: 1;"></span>
              <span class="blast" aria-hidden="true" style="opacity: 1;"></span><br>
            </h1>
            <div class="page-scroll learn-more">
              <a href="#about">Learn More<br><i class="fa fa-chevron-down"></i></a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- About Section -->
    <section class="sectionAbout" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 aboutImg">
            <img src="https://www.linkpicture.com/q/ThornleyPortrait.jpg" class ="center-block" alt="">
          </div>
          <div class="col-lg-6 text-center">
            <h1>We are Trident</h1>
            <hr class="hrStyle">
            <p><b>About TTC</b><br> College President MAry Thornley discusses the advantages of attending Trident Technical College<br><br><br><b>Letter From The President</b></p>
            <p>Choosing the right college is an important decision and can be a large investment. Trident Technical College makes the decision-making process easier. Whether you choose to enroll in TTC’s university transfer program or one of our technical degree programs, you can be assured of TTC’s commitment to provide innovative educational programs and services. One year at TTC costs less than half of the tuition at most four-year colleges, and S.C. Lottery-funded Tuition Assistance makes higher education even more affordable at TTC.</p>
            <br>

            <p>TTC can give you an edge—an opportunity to develop the skills demanded by today’s employers. With first-class instruction, personal attention and practical hands-on education in some of the hottest career fields, TTC will equip you for success. Courses are taught in a seven-week compressed format to enable even greater student success.</p>
            <br>

            <p>Approximately 12,000 students are attending TTC to prepare for a successful future. The college offers more than 150 programs of study, including transfer programs for those continuing at four-year colleges and beyond. Students prepare for careers in business; industrial and engineering technology; aeronautical studies; health care; hospitality, tourism and culinary arts; film, media and visual arts; law-related studies; community, family and child studies; humanities and social sciences; and science and mathematics.</p>
            <br>
            <p>As you explore colleges, I hope you will consider one of the best choices in the Lowcountry: Trident Technical College.</p>
            <br>
            <p>Warmest regards,</p>
            Mary Thornley, Ed.D.<br>
            President, Trident Technical College</p>
          </div>
        </div>
      </div>
    </section>
    <!--  Navigate    -->
    <section class="sectionNavigate" id="navigate">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="text-center contactH1">Student Options</h1>
            <hr class="hrStyle">
          </div>
          <div class="col-lg-4 col-sm-12">
            <a class='inline' href="#" data-toggle="modal"
            data-target="#signUpModal">
            <div class="projectBox">
              <img class="img-rounded grow" src="https://www.linkpicture.com/q/newStudentPicture.jpg" alt="Sign Up"/><br>
              New Student<br>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-12">
          <a class='inline' href="#" data-toggle="modal"
          data-target="#loginModal">
          <div class="projectBox">
            <img class="img-rounded grow" src="https://www.linkpicture.com/q/signUpImg.jpeg" alt="Login Page"/><br>
            Student Login<br>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-12">
        <a class='inline' href="#" data-toggle="modal"
        data-target="#informationModal">
        <div class="projectBox">
          <img class="img-rounded grow" src="https://www.linkpicture.com/q/information.jpg" alt="information"/><br>
          More Information<br>
        </div>
      </a>
    </div>
</div>
</div>
</section>
<!--  Contact    -->
<section class="sectionContact" id="contact">
  <div class="container">
    <div class="row">
      <h1 class="text-center contactH1">Trident Technical College</h1>
      <hr class="hrStyle">
      <div class="col-lg-6">
        <p class="pH1">Contact Info: <br> (843)574-6111 <br> 1(877)349-7184 (Toll Free) <br>PO Box 118067 <br>Charleston, SC 29423</p>
        <div class="contactBtnBkg">
          <a href="https://tridenttech.elluciancrmrecruit.com/Apply/Account/Create?f=fe479461-9646-45e6-b036-e7683eca4563&o=b79eb313-2298-4833-9e19-63d540c1f69c&s=d58a29b1-56bc-ea11-a976-bd30245ffb0b&IsInquiry=True"><div class="contactBtn">More Information</div></a>
        </div>
      </div>
      <div class="col-lg-6">
        <div id="map"></div>
      </div>
    </div>
  </div>
</section>
<!-- footer -->
<footer>
  <div class="bottom-bar vertical-container">
    <div class="container-button container-fluid">
      <a class="face-link button-ref" href="https://www.facebook.com/tridenttech/"
      target="_blank">
      <button class="facebook button-box btn"><i class="fa fa-facebook"></i></button>
    </a>
    <a class="twitter-link button-ref" href="https://twitter.com/tridenttech" target="_blank">
      <button class="twitter button-box btn"><i class="fa fa-twitter"></i></button>
    </a>
    <a class="insta-link button-ref" href="https://www.instagram.com/tridenttech/" target="_blank">
      <button class="Instagram button-box btn"><i class="fa fa-instagram"></i></button>
    </a>
    <a class="youtube-link button-ref " href="https://www.youtube.com/user/TridentTech" target="blank">
      <button class="Youtube button-box btn"><i class="fa fa-youtube"></i></button>
    </a>
  </div>
</div>
<div class="bottom-bar vertical-container">
  <div class="container-fluid">
    <p>Follow us on LinkedIn <a href="https://www.linkedin.com/school/trident-technical-college/" target="_blank">Trident Tech</a></p>
  </div>
</div>
</footer>
</div>
<!-- Student Section -->
<div class="modal" id="signUpModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <!-- carousel -->
              <div class="carousel slide" id="signUpImages" data-ride="carousel" data-interval="false">
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="https://www.linkpicture.com/q/newStudent.jpg" alt="">
                  </div>
                  <div class="item">
                    <img src="https://www.linkpicture.com/q/_53.jpg" alt="">
                  </div>
                </div>
                <!-- carousel controls -->
                <a class="left carousel-control" href="#signUpImages" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#signUpImages" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="projectModalTitle">Student Sign-Up</div>
              <div class="projectModalService">Create An Account</div>
              <div class="projectModalService">Pick A Major</div>
              <div class="signUpDescription">
                <p>Welcome, and congratulations for starting the next chaper of your life. We are excited to meet you! Please click the link below and create an account. <br> Lets get ready to start this new adventure!</p><br>
                <b>"A journey of a thousand miles begins with a single step." - Lao Tzu</b><br><br>
              </div>
              <a href="http://localhost:8080/register" target="_blank"><div class="projectModalButton">Sign-up Page</div></a>
            </div>
            <button class="close projectModalClose" type="button" data-dismiss="modal">x</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="loginModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <!-- carousel -->
              <div class="carousel slide" id="loginImages" data-ride="carousel" data-interval="false">
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="https://www.linkpicture.com/q/studentLogin.jpg" alt="loginScreen">
                  </div>
                  <div class="item">
                    <img src="https://www.linkpicture.com/q/loginSlideImg1.jpg" alt="">
                  </div>
                </div>
                <!-- carousel controls -->
                <a class="left carousel-control" href="#loginImages" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#loginImages" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="projectModalTitle">Student Login</div>
              <div class="projectModalService">Pick Classes</div>
              <div class="projectModalService">Check Transcripts</div>
              <div class="projectModalDescription">
                Here you can register for new classes, check your grades, and see what you need to complete for your major. Transcript also alivable for those transfering or applying to graduate.
                <br><br>
              </div>
              <a href="http://localhost:8080/form" target="_blank"><div class="projectModalButton">Sign-In</div></a>
            </div>
            <button class="close projectModalClose" type="button" data-dismiss="modal">x</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="informationModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <!-- carousel -->
              <div class="carousel slide" id="informationImages" data-ride="carousel" data-interval="false">
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="https://www.linkpicture.com/q/informationQuote.jpg" alt="quote">
                  </div>
                  <div class="item">
                    <img src="https://www.linkpicture.com/q/informationJourney.jpg" alt="journey">
                  </div>
                  <div class="item">
                    <img src="https://www.linkpicture.com/q/informationCulinary.jpg" alt="culinary">
                  </div>
                  <div class="item">
                    <img src="https://www.linkpicture.com/q/informationGIBill_1.jpg" alt="giBill">
                  </div>
                </div>
                <!-- carousel controls -->
                <a class="left carousel-control" href="#informationImages" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#informationImages" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="projectModalTitle">More Information</div>
              <div class="projectModalService">Information Form</div>
              <div class="projectModalService">Enrollment Help</div>
              <div class="projectModalDescription">
                Still unsure of your next steps? Please feel free to contact us at the numbers below, or click the link to contact a student advisor. Thank you for thinking of us to help you reach the next level.
                "It is never too late to be what you might have been." - George Eliot
                <br><br>
              </div>
              <a href="https://tridenttech.elluciancrmrecruit.com/Apply/Account/Create?f=fe479461-9646-45e6-b036-e7683eca4563&o=b79eb313-2298-4833-9e19-63d540c1f69c&s=d58a29b1-56bc-ea11-a976-bd30245ffb0b&IsInquiry=True" target="_blank"><div class="projectModalButton">Addition Info</div></a>
              <a href="https://www.tridenttech.edu/start/apply/ad_orientation.htm" target="_blank"><div class="projectModalButton">Admissions Help</div></a>
            </div>
            <button class="close projectModalClose" type="button" data-dismiss="modal">x</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
