<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mainpage-styles.css">
    <script src="javascript.js"></script>
    <title>Main Page</title>
</head>
<body>
  <div class="topnav">
    <a th:href="@{/courseSearch}">Course Search</a>
    <a th:href="@{/form}">Logout</a>
  </div>
  <div class="main-container">
    <div class="welcome-banner">
      <h1 style="color:white;"  th:text="'Hello, ' + ${information.name} "></h1>
      <h1 style="color:white;"  th:text="'Your Major is, ' + ${information.majorName} "></h1>
      <h2 style="color:white;">Here are your Courses...</h2>
    </div>
    <div class="container">
        <table id="table">
          <tr>
            <th>Core Requirements</th>
          </tr>
          <tr th:each="coreRequirement : ${coreRequirements}">
            <td th:text="${coreRequirement?.CourseName} "></td>
          </tr>
          <tr>
            <th>Electives / Number of Electives Required</th>
          </tr>
          <tr th:each="elective : ${electives}">
            <!-- <td th:text="${elective.ElectiveGroupId}"></td> -->
            <td th:text="${elective.ElectiveGroupName} + ' ' + ${elective.NumRequired}" ></td>
            <!-- <td th:text="${elective?.CourseName}"></td> -->
            <!-- <td th:th:text="${elective.NumRequired}"></td> -->
          </tr>
        </table>
      </div>
     <!-- <div class= "container">
        <table id="table"> 
          <tr>
              <th>Major Name</th>
              <th>Required Type</th>
              <th>Course Id</th>
              <th>Course Name</th>
            </tr>
            <tr th:each="classInfo: ${classes}">
              <td th:text="${classInfo.name}"></td>
              <td th:text="${classInfo.reqType}"></td>
              <td th:text="${classInfo.courseId}"></td>
              <td th:text="${classInfo.courseName}"  th:onclick='tdclick("classInfo.courseName")'>
              </td>
               <td><a role="button" class="update" th:href="@{/(id = ${name.id})}">UPDATE</a></td>
            </tr>
            <tr>
              <th>Electives</th>
            </tr>
            <tr th:each="elective : ${electives}">
              <td th:text="${elective.majorName}"></td>
              <td th:text="${elective.electiveGroup}"></td>
              <td th:text="${elective.numbRequired}"></td>
              <td>
                <a role="button" class="update">Click For Classes</a>
              </td>
            </tr>
          </table>
        </div> -->
        <div id="secondContainer">
          <p th:text="${description}"></p>
        </div>
    </div> 
</body>
</html>