<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="schedule-styles.css">
    <title>Schedule</title>
</head>
<body>
    <div class="topnav">
        <a th:href="@{/mainpage}">Main Page</a>
        <a th:href="@{/courseSearch}">Course Search</a>
        <a th:href="@{/schedule}">Schedule</a>
        <a th:href="@{/form}">Logout</a>
      </div>
    <h1>You are Registered For this Section goodluck!</h1>
</body>
</html>