<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="schedule-styles.css">
 
    <title>Schedule</title>
</head>
<body>
    <script src="tablesort.js"></script>
    <div class="topnav">
        <a th:href="@{/mainpage}">Main Page</a>
        <a th:href="@{/courseSearch}">Course Search</a>
        <a th:href="@{/schedule}">Schedule</a>
        <a th:href="@{/form}">Logout</a>
      </div>
    <h1>Here are your classes for this term</h1>
    <table class="table table-sortable">
        <thead>
        <tr>
            <th>Course Id</th>
            <th>Course Name</th>
            <th>Major Name</th>
            <th>Semester</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="registeredSection : ${registeredSections}">
            <td th:text="${registeredSection.courseId}"></td>
            <td th:text="${registeredSection.courseName}"></td>
            <td th:text="${studentInfo.majorName}"></td>
            <!-- <td th:text="${registeredSection.sectionId}"></td> -->
            <td th:text="${registeredSection.term}"></td>
            <td><a role="button" class="update" th:href="@{/removeSection(courseId = ${registeredSection.courseId})}">Remove This Section</a></td>
        </tr>
    </tbody>
    </table>
</body>
</html>